{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="about_us">
        <div class="text">
            <h1>ЗА НАС</h1>
            <p>Клуб по конен спорт ЕЛИТ е основан през 2002 г. от Теодор Миронов. Създадена е собствена конна база в
                село Градец на 15 км западно от град София. За контакти 0888 62 33 83 Теодор Миронов.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.702830044576!2d23.202167815376242!3d42.87911607915548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aabffbcb404b15%3A0x2807e799a9e02dcc!2z0JrQvtC90L3QsCDQsdCw0LfQsCAi0JXQu9C40YIi!5e0!3m2!1sen!2sbg!4v1493707070510"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <h2>ПИШЕТЕ НИ!</h2>
            <div class="form">
                <label for="your_name">Вашето име: </label>
                <input id="your_name" type="text" name="your_name" maxlength="100" required/>
                <br>

                <label for="your_name">Вашият имейл: </label>
                <input id="your_email" type="text" name="your_email" maxlength="100" required/>
                <br>
                <div>
                <label for="your_question">Вашето запитване: </label>
                <textarea name="your_question" rows="5" required></textarea>
                </div>

                <button type="button" onclick="alert('Съобщението Ви беше изпратено')">Изпрати</button>

            </div>
        </div>
    </div>

{% endblock %}
