{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script src="{% static 'lib/bxslider/jquery.bxslider.min.js' %}"></script>
    <link href="{% static 'lib/bxslider/elite.css' %}" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {% block additional_libraries %}{% endblock %}
</head>
<body>

<nav class="navigation-bar-shim"></nav>

<nav class="navigation-bar">
    <nav class="container-fluid">
    <a id="facebook"
       href="https://www.facebook.com/%D0%9A%D0%BE%D0%BD%D0%BD%D0%B0-%D0%B1%D0%B0%D0%B7%D0%B0-%D0%95%D0%9B%D0%98%D0%A2-506174569412211/">
        <img src={% static 'images/facebook.png' %} width="30px" height="30px">
    </a>

    <a href="{% url 'index' %}"><img class="logo" src={% static 'images/logoElitelightGold.png' %}></a>

    <div class="menu-buttons-wrapper"><a href="{% url 'about' %}">ЗА НАС</a>
        <a href="{% url 'pansion' %}">ПАНСИОН ЗА КОНЕ</a>
        <a href="{% url 'lessons' %}">УРОЦИ ПО ЕЗДА</a>
        <a href="{% url 'horses' %}">КОНЕ ЗА ПРОДАЖБА</a>
        <a href="{% url 'gallery' %}">ГАЛЕРИЯ</a>
    </div>
        </div>
    </nav>
</nav>
{% block content %}{% endblock %}

<div class="footer-wrapper">
    <div class="footer">
        <p>&copy; Клуб по Конен Спорт Елит</p>
        <p>България, с. Градец</p>
        <p>телефон: 0888 623 383</p>
        <p>GPS локация: 42°52'44.7"N 23°12'16.2"E</p>
        <p id="brand">Сайт от Лора Титоренкова &copy;</p>
    </div>
</div>

</body>
</html>
