{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{% static 'images/cover3.jpg' %}">
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item">
                <img src="{% static 'images/cover1.jpg' %}">
                <div class="carousel-caption">

                </div>
            </div>

            <div class="item">
                <img src="{% static 'images/cover2.jpg' %}">
                <div class="carousel-caption">

                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="opinion">
        <h3>МНЕНИЯ</h3>
        <img src="{% static 'images/ornament.png' %}" width="500px" height="250px">
        <ul class="slider">
            <li><p>“Клуб по конен спорт Елит е прекрасно място за
                почивка и спорт. Конете са невероятни, а треньорите
                са истински професионалисти.”</p></li>
            <li><p>“Детето ми значително подобри уменията си по езда. Много съм доволна както от треньорите, така и от
                прекрсните коне.”</p></li>
        </ul>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.slider').bxSlider({
                controls: false
            });
        });
    </script>
{% endblock %}
