{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="lessons traininghorses">
        <div class="info">
            <h1>КАРИНА</h1>
            <p> ЗАпознайте се с нашата прекрасна кобила Карина. След като прекъсва кариерата си във всестранната езда,
                където жъне множество успехи, Карина става прекрасен кон за тренировки. Подходяща е за по-напреднали
                ездачи, заради състезателния си характер и неуспоримите си умения в прескачане на препядствия. Ако
            искате да яздте чувствителен, отзивчив и опитен кон - тя ще е вашият перфектен партньор.</p>
        </div>
    </div>

{% endblock %}
