{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="lessons background-padding">
        <div class="lessons-info">
            <h1>УРОЦИ ПО ЕЗДА</h1>
            <p>В клуб по конен спорт “ЕЛИТ” провеждаме уроци и тренировки за напредннали и начинаещи.
                Конете ни са добре обучени и могат да Ви бъдат партньори в избраната от Вас дисциплина.
                Нашите треньори и инструктори са опитни и квалифицирани както в работата с животни, така
                и с хора.</p>

            <p>Предлагаме възможността при усилен тренировъчен процес да участвате в състезания през
                клуба, без задължително да разполагате със собствен кон.</p>

            <p>Освен езда на плаца предлагаме и езда в полето и планината. Тази услуга предполага поне
                начални умения за езда.</p>

            <p>Осигурени са инструктор, пясъчен плац за езда и подготовка( с прилежащото оборудване:
                стойки, бариери за прескачане на препятствия, кавалети), съблекални, баня, стая за почивка и др.</p>

            <p>Цена: 20 лв. за урок от 30 минути.</p>


            <p>Треньор: Бранимир Кръстанов</p>
            <p>Контакти: 0896 86 56 98</p>


            <div class="lessons-slider">
                <ul class="slider">
                    <li><img src="{% static 'images/background.jpg' %}"></li>
                    <li><img src="{% static 'images/background.jpg' %}"></li>
                    <li><img src="{% static 'images/background.jpg' %}"></li>
                    <li><img src="{% static 'images/background.jpg' %}"></li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.slider').bxSlider({
                controls: true
            });
        });
    </script>

{% endblock %}
