{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="lessons traininghorses">
        <div class="info">
            <h1>НИКИТА</h1>
            <p> Запознайте се с нашата прекрасна кобила НИКИТА. Тя е спокойна и кортка кобила с много опит, която е
                видяла всичко. Като млада се е състезавала във всестранната езда, където показва голяма смелост,
            но кроткият и характер и леко мързеливият поглед над живота я правят идеален партньор за всеки начинаещ.
            Ако не се притеснявате от височина-Никита е перфектният партньор за всеки, който прави първи стъпки в ездата.
            </p>
        </div>
    </div>

{% endblock %}
