{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="pansion background-padding">
        <div class="info">
            <h1>ПАНСИОН ЗА КОНЕ</h1>
            <p>Конната база рзполага с всички необходими условия за целогодишна подговка на спортни коне и любителска
                езда.</p>
            <ul id="listone">
                <li>20 бокса - 3м х 3.5м.</li>
                <li>4 бокса - 3.5м х 4м - подходящи за майки с кончета.</li>
            </ul>
            <p>При желание от страна на собственика, конете могат да бъдат обучавани за състезателни или любителска
                езда.</p>
            <p>"ПАНСИОНА ЗА КОНЕ ” е комплексна услуга, която включва цялостното отглеждане и грижи за коня:</p>
            <ul id="listtwo">
                <li>Самостоятелен бокс с автоматична поилка.</li>
                <li>Всеки ден почиствне на бокса</li>
                <li>Свободно пускане в падок</li>
                <li>Храна: фураж , сено и слама.</li>
                <li>Обезпаразитяване на всеки 3 месеца.</li>
                <li>Ваксинация през 6 месеца.</li>
            </ul>
            <h1>400 лв на месец.</h1>
        </div>
    </div>
{% endblock %}
